<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>结算页面</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>
	
	<div id="header">
			<img class="logo_img" alt="" src="/static/img/logo.gif" >
			<span class="wel_word">结算</span>
			{{if .UserID}}
				<div>
					<span>欢迎<span class="um_span">{{.UserName}}</span>光临尚硅谷书城</span>
					<a href="/logout">注销</a>&nbsp;&nbsp;
					<a href="/getMyOrder">我的订单</a>
					<a href="/pages/manager/manager.html">后台管理</a>
				</div>
			{{else}}
				<div>
					<a href="/pages/user/login.html">登录</a> | 
					<a href="/pages/user/regist.html">注册</a> &nbsp;&nbsp;
					<a href="/pages/cart/cart.html">购物车</a>
					<a href="/pages/manager/manager.html">后台管理</a>
				</div>
			{{end}}
	</div>
	
	<div id="main">
		<h1>你的订单已结算，订单号为{{.Order.ID}}</h1>
	</div>
	
	<div id="bottom">
		<span>
			尚硅谷书城.Copyright &copy;2015
		</span>
	</div>
</body>
</html>