<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- nav -->
    <link href="static/css/menufullpage.css" rel="stylesheet">
    <!-- font-awesome icons -->
    <link href="static/css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="http://fonts.googleapis.com/css?family=Fira+Sans+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body>
    <!-- header -->
    <header>
        <!--nav -->
        <a href="#menu" class="menu-link">
            <span>切换菜单</span>
        </a>
        <nav id="menu" class="panel">
            <ul>
                <li>
                    <a href="index.html" class="active">主页</a>
                </li>
                <li>
                    <a href="about.html">关于</a>
                </li>
                <li>
                    <a href="portfolio.html">笔记</a>
                </li>
                <li>
                    <a href="services.html">其它</a>
                </li>
                <li>
                    <a href="skills.html">书籍</a>
                </li>
                <li>
                    <a href="contact.html">联系</a>
                </li>
            </ul>
        </nav>
        <!-- //nav -->
        <!-- logo -->
        <div class="logo_wthree">
            <a href="index.html">
                <!-- <i class="fab fa-node-js">1</i> -->
            </a>
        </div>
        <!-- //logo -->
    </header>
    <!-- //header -->
    <!-- banner -->
    <section class="slide-wrapper">
        <!-- banner slide -->
        <div class="agile_banner bg1">
            <div class="layer">
                <div class="container">
                    <div class="banner_text_wthree">
                        <div class="d-flex">
                            <h1>欢迎来到 </h1>
                            <h2>&nbsp;我的博客</h2>
                        </div>
                        <div id="text" class="banner_text_w3ls my-md-5 my-3"></div>
                        <ul class="list-inline bnr_list_w3">
                            <li class="list-inline-item">
                                <a class="btn  text-white  scroll" href="portfolio.html">开始查看笔记 </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn  text-white bg-dark scroll" href="contact.html">联系我</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner-->
    <!-- footer -->
    <footer>
        <div class="cpy-right text-center py-4">
            <p class="text-white">Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a></p>
        </div>
    </footer>
    <!-- //footer -->
    <!-- js -->
    <script src="static/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- few java snippets-->
    <script src="static/js/strive.js"></script>
    <!-- banner text animation -->
       <script>
        //text effect

        document.addEventListener('DOMContentLoaded', function (event) {

            //设置欢迎语
            var dataText = [
                "您好,我是这个博客的主人",
                "一位编程爱好者",
                "在编程方面,我学习了很多知识",
                "但是遗忘的速度也很快",
                "需要用博客记录一下",
                "更重要的是,我想与你一起分享"
            ];

            // type one text in the typwriter
            // keeps calling itself until the text is finished
            function typeWriter(text, i, fnCallback) {
                // chekc if text isn't finished yet
                if (i < (text.length)) {
                    // add next character to h1
                    document.getElementById("text").innerHTML = text.substring(0, i + 1) +
                        '<span aria-hidden="true" class="banner_text_w3ls"></span>';

                    // wait for a while and call this function again for next character
                    setTimeout(function () {
                        typeWriter(text, i + 1, fnCallback)
                    }, 50);
                }
                // text finished, call callback if there is a callback function
                else if (typeof fnCallback == 'function') {
                    // call callback after timeout
                    setTimeout(fnCallback, 1000);
                }
            }
            // start a typewriter animation for a text in the dataText array
            function StartTextAnimation(i) {
                // check if dataText[i] exists
                if (i < dataText[i].length) {
                    // text exists! start typewriter animation
                    typeWriter(dataText[i], 0, function () {
                        // after callback (and whole text has been animated), start next text
                        StartTextAnimation(i + 1);
                    });
                }
            }
            // start the text animation
            StartTextAnimation(0);
        });
    </script>

    <!-- //banner text animation -->
    <!-- nav -->
    <script src="static/js/menuFullpage.min.js"></script>
    <!-- //nav -->
    <!-- smooth scroll -->
    <script src="static/js/SmoothScroll.min.js "></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.js"></script>
</body>

</html>